.auth-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f3f7f3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #121010;
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.button {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff; /* White color for text */
    background-color: #027e6f; /* Blue background color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Adjust padding for better button appearance */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #02544b; /* Darker shade of blue or different color on hover */
}