* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background-color: #f0f2f5;
  }
  
  .main-content {
    text-align: center;
    padding: 40px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 40px auto;
  }
  
  .header {
    margin-bottom: 40px;
  }
  
  .header h1 {
    /* color: #ff7a00; */
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  .header h2 {
    color: #4a4a4a;
    font-size: 1.5em;
  }
  
  .skills-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .skill {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .skill:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .skill h3 {
    /* color: #ff7a00; */
    margin-bottom: 15px;
    font-size: 1.5em;
  }
  
  .skill p {
    color: #4a4a4a;
    line-height: 1.6;
  }
  